@import "../theme/theme.scss";

.about {
  padding: 2rem;

  @media screen and (max-width: 835px) {
    justify-content: flex-start !important;
    margin-top: 0;
    margin-bottom: 0;
  }

  .about-content {
    width: 100%;

    .card-heading {
      padding-top: 0;
      padding-left: 0;
    }

    .about-info {
      gap: 0.5rem;
    }

    .group {
      gap: 0.3rem;

      h1 {
        font-size: 1.4rem;
        font-weight: 600;
      }

      p {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}