@import "../theme/theme.scss";

.card {
  .post-upload-container {
    width: 100%;
    max-width: 622px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    .post-upload {
      gap: 20rem;
      height: 100%;

      @media screen and (max-width: 1024px) {
        gap: 10rem;
      }
      p {
        font-size: 1.5rem;
        width: 100%;
        color: $steel-blue;
        text-align: center;
      }
      img {
        width: 20px;
      }
    }
  }
  .post-upload-content {
    .post-upload-header {
      gap: 1rem;
      margin: 10px 0;
      padding: 0 2rem;
      .profile-pic {
        margin-bottom: 0;
      }
      .profile-name {
        p {
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }

    textarea {
      font-family: "Montserrat", sans-serif;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      margin: 1rem 0;
      font-size: 1.5rem;
      color: $steel-blue;
      padding: 1rem 2rem;
    }
    .image-previewer {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .upload-image-emojis-container {
      display: flex;
      gap: 0.5rem;
      justify-content: end;
      border: 1px solid $border-color;
      border-left: 0;
      border-right: 0;
      padding: 0.5rem 2rem;
      position: relative;
      input[type="file"] {
        background-image: url("../../assets/svgs/image.svg");
        background-size: contain;
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: transparent;
        text-indent: -9999px;
      }
      .emoji-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .emoji-picker {
        position: absolute;
        right: 9%;
        top: 0rem;
        height: 39rem;
        overflow-x: auto;

        .EmojiPickerReact {
          --epr-emoji-size: 1.5rem;
          --epr-emoji-gap: 2rem;
          --epr-hover-bg-color: $btn-primary-color;
          --epr-text-color: $prussian-blue;

          .epr-header {
            .epr-header-overlay {
              padding: 1rem;
            }
            .epr-search-container {
              input {
                font-size: 1rem;
                height: 2.5rem;
                color: $prussian-blue;
              }
              .epr-icn-search {
                height: 1.8rem;
                background-size: 1.8rem;
                top: 48%;
              }
            }

            .epr-skin-tones {
              display: none;
            }
          }
          .epr-category-nav {
            display: none;
          }

          li {
            .epr-emoji-category-label {
              height: 1.5rem;
              padding: 0 1.5rem;
            }
          }

          .epr-preview {
            height: 2.5rem;
            img {
              width: 1.8rem !important;
              height: 1.8rem !important;
            }

            .epr-preview-emoji-label {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .post-upload-footer {
      gap: 3rem;
      padding: 4rem 2rem;

      @media screen and (max-width: 500px) {
        .btn {
          gap: 2rem;
        }
      }
    }
  }
}
