@import "../theme/theme.scss";

.card {
  .post-upload-container {
    width: 100%;
    max-width: 622px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    .post-upload {
      gap: 20rem;
      height: 100%;

      @media screen and (max-width: 1024px) {
        gap: 10rem;
      }
      p {
        font-size: 1.5rem;
        width: 100%;
        color: $steel-blue;
        text-align: center;
      }
      img {
        width: 20px;
      }
    }
  }
  .post-upload-content {
    .post-upload-header {
      gap: 1rem;
      margin: 10px 0;
      .profile-pic {
        margin-bottom: 0;
      }
      .profile-name {
        p {
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }

    textarea {
      font-family: "Montserrat", sans-serif;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      resize: none;
      rows: 5;
      font-size: 1.5rem;
      color: $steel-blue;
      padding: 1rem 0;
    }

    .upload-image-emojis-container {
      display: flex;
      justify-content: end;
      input[type="file"] {
        background-image: url("../../assets/svgs/image.svg");
        background-size: contain;
        cursor: pointer;
        height: 30px;
        width: 30px;
        color: transparent;
        text-indent: -9999px;
      }
    }
  }
}
