@import "../theme/theme.scss";

.card {
  .post-upload-container {
    width: 100%;
    max-width: 622px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    cursor: pointer;
    .post-upload {
      gap: 20rem;
      height: 100%;

      @media screen and (max-width: 1024px) {
        gap: 10rem;
      }
      p {
        font-size: 1.5rem;
        width: 100%;
        color: $steel-blue;
        text-align: center;
      }
      img {
        width: 20px;
      }
    }
  }
  .post-upload-content {
    .post-upload-header {
      gap: 1rem;
      .profile-pic {
        margin-bottom: 0;
      }
      .profile-name {
        p {
          font-size: 1.8rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
}
