@import "../theme/theme.scss";



.transaction-history {
  margin: 20px;

  .card-heading {
    padding-left: 0;
  }

  .table-container {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 450px;

    &::-webkit-scrollbar {
      display: none;
    }

    table {
      // width: 100%;
      // width: 380px;
      border-collapse: collapse;

      th {
        font-weight: 600;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $btn-primary-color;
          }
        }
      }
    }
  }
}