@import '../theme/theme.scss';

.wallet-content {
  padding: 5rem 2rem 3rem;


  .balance-container {

    gap: 1rem;
    margin-bottom: 4rem;
    position: relative;

    .d-flex-align-center {
      gap: 0.5rem;

      .copy-icon {
        cursor: pointer;
      }
    }

    h1,
    p {
      color: $primary-color;
    }

    h1 {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.3rem;
    }

    .copied-text {
      font-size: 0.8rem;
      position: absolute;
      right: -50%;
      top: 40%;
      transform: translate(-50%, -50%);
      background-color: #f0f7ff;
      color: #1877f2;
      padding: 10px;
      border-radius: 5px;
      opacity: 1;
      animation: copied 2s ease-out;
    }

    @keyframes copied {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      60% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
      }

      100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .button-container {
    gap: 0.7rem;

    .btn {
      width: 110px;
      height: 31px;
      font-size: 1rem;
      background-color: $btn-primary-color;
      color: $primary-color;
      gap: 0.8rem;

      .recieve-icon {
        transform: rotate(180deg);
      }
    }
  }
}